---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key&language=en-US&page=1&query=Ughgh1ghghg3hghghghgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Wed, 14 Jul 2021 16:34:01 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<api_key>&language=en-US&page=1&query=Ughgh1ghghg3hghghghgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - a8d277d2d95f2ea20f792a48c43093dc
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 14 Jul 2021 16:39:44 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<api_key>&language=en-US&page=2&query=Ughgh1ghghg3hghghghgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - daeb628883c68203dc276731d4722f32
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 14 Jul 2021 16:39:44 GMT
recorded_with: VCR 6.0.0
